html {
    font-size: 16px;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.impressum {
    width: 100%;
    max-width: 1440px;
    text-align: left;
    padding: 88px 0px;

    h2 span {
        font-weight: normal;
    }
    p {
        font-size: 1.5rem;
        /* width: 65ch; */
    }
    span {
        font-weight: bold;
    }
}
