body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.faq img {
    width: 30px;
    height: 34.33px;
}

.headline-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(16px, 5dvw, 52px);
    color: rgba(78, 164, 135, 1);
    gap: 8px;
    padding-bottom: 32px;
}

.headline-home h2 {
    font-size: 40px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 70px 0px max(calc(50% - 720px), 80px);
}

.faq-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Palanquin";
    width: 100%;
}

details {
    margin-bottom: 16px;
    width: 100%;
}

summary {
    display: flex;
    background: rgba(241, 201, 83, 1);
    list-style: none;
    padding: 16px 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    gap: 16px;
    border-radius: 12px;
}

details[open] summary {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

details p {
    padding: 5px 20px 15px;
}

details.card {
    background-color: rgba(255, 255, 255, 1);
}

.card summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card summary::after {
    content: "";
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.3s;
    transform: rotate(45deg);
}

details[open].card > summary::after {
    transform: rotate(-135deg);
}

@media screen and (max-width: 500px) {
    .faq {
        padding: 0 20px;
    }
}