body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .blog {
    display: flex;

    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 100%;
} */
.blog-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    gap: 26px;
    padding-top: clamp(24px, calc(8px + 5vw), 80px);
}
.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 80%;
}
.blog-text h3 {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
    color: rgba(78, 164, 135, 1);
    line-height: 120%;
}
.blog-text h2 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(2.5rem, 2.0714rem + 2.1429vw, 4rem);
    color: rgba(241, 201, 83, 1);
    line-height: 100%;
    padding-top: 8px;
}
.blog-text p {
    font-family: "Palanquin";
    font-weight: 400;
    font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
    color: rgba(84, 55, 13, 1);
    line-height: 120%;
    padding-top: 8px;
    padding-bottom: 40px;
}
.meta {
    display: flex;
    gap: 32px;
    width: 100%;
}
.meta-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
    line-height: 120%;
    gap: 6px;
    flex-wrap: wrap;
}
.meta-data img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 164, 135, 0.2);
    padding: 16px 8px;
    gap: 16px;
    border-radius: 30px;
    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
    float: left;
    width: 20%;
}
.author-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.author-card h4 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
}
.author-card h5 {
    font-family: "Arima";
    font-weight: 400;
    font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
}
.author-text p {
    padding-top: 16px;
}
.text-über-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: clamp(40px, calc(28.286px + 3.661vw), 81px);
    padding-bottom: clamp(16px, calc(-4.571px + 6.429vw), 88px);

    p {
        font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
        font-family: "palanquin";
        font-weight: 500;
        text-align: center;
        line-height: 110%;
    }
}
.h2-rakete {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 39px;
        height: 39px;
    }
    h2 {
        font-size: clamp(2.5rem, 2.2857rem + 1.0714vw, 3.25rem);
        font-family: "arima";
        font-style: bold;
        font-weight: 700;
        line-height: 120%;
        color: rgba(78, 164, 135, 1);
    }
}
.slider {
    width: 100%;
    max-width: 1200px;
    background: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border-top-right-radius: 100px;

    input {
        z-index: 2;
    }

    input[value="one"]:checked ~ .wrapper {
        transform: translateX(0);
    }

    input[value="two"]:checked ~ .wrapper {
        transform: translateX(-25%);
    }

    input[value="three"]:checked ~ .wrapper {
        transform: translateX(-50%);
    }

    input[value="four"]:checked ~ .wrapper {
        transform: translateX(-75%);
    }

    .wrapper {
        width: 400%;
        position: absolute;
        left: 0;

        display: flex;
        height: 100%;
        transition: all 1s ease-in-out;

        z-index: 1;

        .element {
            height: 100%;
            width: calc(100% / 3);
        }
        h2 {
            font-size: clamp(1.75rem, 1.3929rem + 1.7857vw, 3rem);
            font-family: "palanquin-dark";
            font-style: semibold;
            font-weight: 600;
            line-height: 100%;
        }
        p {
            font-size: clamp(1.25rem, 1.1071rem + 0.7143vw, 1.75rem);
            font-family: "palanquin";
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
        }

        #div1 {
            /* background: black; */
            background-image: url("./assets/img/slider_1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .slider-text {
                width: 74%;
            }
        }

        #div2 {
            /* background: yellow; */
            background-image: url("./assets/img/slider_2.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .slider-text {
                width: 80%;
            }
        }

        #div3 {
            /* background: blue; */
            background-image: url("./assets/img/slider_3.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .slider-text {
                width: 77%;
            }
        }
        #div4 {
            /* background: red; */
            background-image: url("./assets/img/slider_4.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .slider-text {
                width: 45%;
            }
        }
    }
}
.slider-text {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.35);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top-right-radius: 50px;
    height: fit-content;
    gap: 8px;
    margin-top: 54px;
    margin-left: 38px;
    padding: 16px 24px;
}
.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    line-height: 120%;
    padding-top: clamp(40px, calc(26.286px + 4.286vw), 88px);
}
.article-text img {
    z-index: 2;
    position: absolute;
    left: -47px;
    transform: translateY(-94px);
    /* transform: translateX(-485px) translateY(24px); */
}
.pro-wrapper {
    width: 100%;
    max-width: 1440px;
    padding-top: 65px;
    padding-left: 47px;
    margin-left: 16px;
    margin-right: 16px;
}
.pro-tipps {
    background-color: rgba(78, 164, 135, 0.2);
    padding: 26px 16px 24px 48px;
    border-radius: 30px;
    width: 98%;

    span {
        font-weight: 700;
        color: rgba(78, 164, 135, 1);
    }
}
.article-list {
    width: 100%;
    padding-bottom: clamp(32px, calc(16px + 5vw), 88px);
    padding-left: clamp(0px, calc(-28.571px + 8.929vw), 100px);
    padding-right: clamp(0px, calc(-28.571px + 8.929vw), 100px);

    ol {
        padding-left: 24px;
    }
    span {
        font-weight: 700;
        font-style: bold;
    }
    p {
        padding-bottom: 16px;
    }
}
.article-text > p {
    padding-bottom: clamp(32px, calc(16px + 5vw), 88px);
}
.article-p {
    padding-top: clamp(56px, calc(46.857px + 2.857vw), 88px);
    padding-bottom: clamp(300px, calc(293.714px + 1.964vw), 322px);
}
@media screen and (max-width: 1440px) {
    .main-content {
        padding: 0px 15px;
    }
}
@media screen and (max-width: 1000px) {
    .blog-text {
        width: 70%;
    }
    .author-card {
        width: 30%;
    }
}
@media screen and (max-width: 860px) {
    .meta {
        flex-wrap: wrap;
        gap: 16px;
        width: 450px;
    }
}
@media screen and (max-width: 845px) {
    .meta {
        flex-wrap: wrap;
        gap: 8px;
    }
    .meta-data {
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 600px) {
    .meta {
        gap: 16px;
    }
}
@media screen and (max-width: 768px) {
    .blog-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .blog-text {
        width: 100%;
    }
    .author-card {
        width: 100%;
        /* margin-bottom: 40px; */
    }
    .meta {
        width: 100%;
    }
    .text-über-slider p {
        display: none;
    }
    .pro-wrapper {
        padding: 85px 0px;
    }
    .article-text img {
        left: -3px;
        transform: translateY(-110px);
    }
}
