.main-content {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 322px;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diagram-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 88px;
    gap: 80px;
}

.diagram-card {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .diagram-card p {
    font-size: 24px;
    font-family: "Palanquin";
    font-weight: 400;
    line-height: 120%;
} */

.diagram-card img {
    width: 520px;
    height: 470px;
}

.wrapper-graph-diagram {
    width: 100%;
    max-width: 1440px;
}

.graph-diagram-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.graph-diagram-section p {
    /* width: 100%; */
    /* font-size: 24px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400; */
    line-height: 120%;

    padding-bottom: 88px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3 {
    font-size: 32px;
    padding-bottom: 24px;
    font-family: "Arima";
    font-style: normal;
    font-weight: 600;

    display: flex;
    justify-content: center;
}

.graph-diagram-section img {
    display: flex;
    height: 430px;
    width: 640px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    border: 53px;
    border-radius: 6%;
    margin-bottom: 88px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.blog-article {
    display: flex;
    justify-content: space-between;
    padding: clamp(24px, calc(8px + 5vw), 80px) 0 24px;
    width: 100%;
    max-width: 1440px;
    gap: 26px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;
    width: 80%;
}

.blog-text h3 {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: clamp(1.25rem, 1.887vw + 0.802rem, 2.5rem);
    color: rgba(78, 164, 135, 1);
    line-height: 120%;
}

.blog-text h2 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(2.5rem, 2.264vw + 1.962rem, 4rem);
    color: rgba(241, 201, 83, 1);
    line-height: 100%;
    padding-top: 8px;
}

.blog-text p {
    font-family: "Palanquin";
    font-weight: 400;
    font-size: clamp(1.125rem, 0.943vw + 0.901rem, 1.75rem);
    color: rgba(84, 55, 13, 1);
    line-height: 120%;
    padding-top: 8px;
    padding-bottom: 40px;
}

.meta {
    display: flex;
    gap: 32px;
    width: 100%;
}

.meta-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Palanquin";
    font-weight: 400;
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
    line-height: 120%;
    gap: 6px;
    white-space: nowrap;
}

.meta-data img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 164, 135, 0.2);
    padding: 16px 8px;
    gap: 16px;
    border-radius: 30px;
    font-family: "Palanquin";
    font-weight: 400;
    font-size: clamp(1rem, 0.189vw + 0.955rem, 1.125rem);
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
    float: left;
    width: 20%;
}

.author-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.author-card h4 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(1rem, 0.189vw + 0.955rem, 1.125rem);
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
}

.author-card h5 {
    font-family: "Arima";
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: rgba(84, 55, 13, 1);
}

.author-text p {
    padding-top: 16px;
    font-size: 1rem;
}

.p-text {
    font-size: 24px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 88px;
}

@media screen and (max-width: 1440px) {
    .main-content {
        padding: 0px 15px;
    }

    #p-ganz-unten {
        width: 100%;
        padding-bottom: 300px;
    }
}

@media screen and (max-width: 1120px) {
    #text-kreisdiagram {
        margin-bottom: 16px;
    }

    .diagram-card-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagram-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #p-ganz-unten {
        width: 100%;
        padding-bottom: 300px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 260px) {
    .blog {
        padding: 0px 0px 32px;
        gap: 0;
    }

    .blog-article {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .author-card {
        width: 100%;
        max-width: 1440px;
    }

    .blog-text {
        height: fit-content;
        width: 100%;
        padding-top: 24px;
    }

    .blog-text p {
        font-size: 22px;
    }

    /* .main-content {
        padding-top: 0px;
    } */

    /* figure {
        padding: 0px 15px;
    } */

    .graph-diagram-section img {
        margin-bottom: 32px;
    }

    .graph-diagram-section p {
        padding-bottom: 32px;
    }

    .h3 {
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 800px) {
    .meta {
        flex-wrap: wrap;
        gap: 16px;
        width: 450px;
    }

    .p-text {
        padding-bottom: 32px;
    }

    .diagram-card-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 0px 32px;
        gap: 32px;
    }

    #text-kreisdiagram {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 640px) {

    .blog-text p {
        font-size: 18px;
    }

    .meta {
        width: 100%;
    }

    .graph-diagram-section img {
        height: fit-content;
        width: 100%;
    }

    .diagram-card img {
        height: fit-content;
        width: 100%;
    }

    .h3 {
        font-size: 20px;
    }

    .p-text {
        font-size: 16px;
    }
}
