.main-content {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 322px;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diagram-card-wrapper {
    /* width: 1200px; */

    display: flex;
    justify-content: center;
    padding: 0px 41px 88px;
    gap: 80px;
}

.diagram-card {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diagram-card h3 {
    font-size: 32px;
    font-family: "Arima";
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.diagram-card p {
    font-size: 24px;
    font-family: "Palanquin";
    font-weight: 400;
    line-height: 120%;
}

.diagram-card img {
    width: 520px;
    height: 470px;
}

.p-unter-diagramme {
    font-size: 24px;
    font-family: "Palanquin";
    font-weight: 400;
    line-height: 120%;
}

.wrapper-graph-diagram {
    width: 100%;
    max-width: 1440px;
}

.graph-diagram-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.graph-diagram-section p {
    /* width: 100%; */
    font-size: 24px;
    font-family: "Palanquin";
    /* font-style: normal;
    font-weight: 400; */
    line-height: 120%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h4-rain {
    font-size: 32px;
    padding-bottom: 24px;
    font-family: "Arima";
    font-style: normal;
    font-weight: 600;
}

.graph-diagram-section img {
    display: flex;
    height: 430px;
    width: 640px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    border: 53px;
    border-radius: 6%;
}
